# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- You will learn the Popular Data Science languages
- Popular Data Science Tools
- An example of how to execute a cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL
5. Java
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Scikit-Learn
- Teras

## Data Science Tools
| MySQL | PixieDust | mleap

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [4]:
hours = 200 / 60
print(hours)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Simon Ramirez